@inherits LayoutComponentBase

<PageTitle>TangyWeb_Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                 <div class="top-row px-4">
                @context.User.Identity.Name <a href="Identity/Account/Logout">Logout</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                <LoginComponent></LoginComponent>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
