@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello All!</h1>

<p>
Welcome to Luis Vergara's E-Commerce App.<br/>
<strong>This App is work in progress.</strong> 
Feel free to check in at 4pm for daily updates. <br/>
In this app you can add new products to the product list. <br/>
To do so, create a category or you can choose from the categories created. <br/>
Then you can create a new product with name, description, color, and even add a picture. <br/>
Finally, you can choose the price of product based on size. <br/> <br/

Link to API: <a href="https://tangywebapi20220401074438.azurewebsites.net/index.html" target="_blank">Tangy API</a> <br/>
Link to Client Side Page: <a href="https://tangywebclient20220401080231.azurewebsites.net" target="_blank">Tangy Client</a> <br/> <br/>

Link to Github for this project: <a href="https://github.com/lvergara06/TangyBlazor.git" target="_blank">Luis Vergara's' Git</a> <br/>
</p>
